<div class="keywords form">
<?php echo $this->Form->create('Keyword'); ?>
	<fieldset>
		<legend><?php echo __('Add Keyword'); ?></legend>
	<?php
		echo $this->Form->input('name');
		echo $this->Form->input('seo_link');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List Keywords'), array('action' => 'index')); ?></li>
	</ul>
</div>
