<h2>Login</h2> 
    <?php echo $this->Form->create();
    echo $this->Form->input('username');
    echo $this->Form->input('password');
    echo $this->Form->end('Login');
    echo $this->Html->link("Forget Password ?",array("controller"=>"users","action"=>"forgetpwd"));?>
<br/><?php
    echo $this->Html->link("Register new account",array("controller"=>"users","action"=>"add"));
    ?>