<div class="post">        
	<h2 class="title"><?php echo h($user['User']['username']); ?></h2>
		<?php echo __('Id'); ?>:&nbsp; 
			<?php echo h($user['User']['id']); ?>
                <br>
		<?php echo __('Username'); ?>:&nbsp;< 
			<?php echo h($user['User']['username']); ?>
                <br>
              	<?php echo __('Role'); ?>:&nbsp;
			<?php echo $this->Html->link($user['Role']['name'], array('controller' => 'roles', 'action' => 'view', $user['Role']['id'])); ?>

</div>
